@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: light;
}

body {
  background-color: #ffffff;     
  color: #171717;                 
  -webkit-font-smoothing: antialiased;
}
